<h1>Graphs</h1>
<select id="graphType" >
	<option value="line">Line</option>
	<option value="spline">Spline</option>
	<option value="column">Column</option>
	<option value="area">Area</option>
	<option value="areaspline">Area Spline</option>
	
</select>

<select id="metric" >
	<option value="distance">Distance</option>
	<option value="duration">Duration</option>
	<option value="pace">Pace</option>
	<option value="vdot">VDOT</option>	
</select>
<div id="container"></div>



		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">
var chart;
var jsonData;

function changeType(series, newType) {
        
    for(var i=0;i<series.length;i++)
    {
        serie = series[0];
        serie.chart.addSeries({
            type: newType,
            name: serie.name,
            color: serie.color,
            data: serie.options.data
        }, false);
        
        serie.remove();
    }
    
}
$(document).ready(function() {

	// define the options
	var options = {

		chart: {
			renderTo: 'container',
			defaultSeriesType: 'line',
			zoomType: 'x'
		},

		title: {
			text: 'Daily Workouts'
		},

		subtitle: {
			text: 'Last 30 Days; Zoom In'
		},

		xAxis: {
			type: 'datetime'
		},

		yAxis: [{ // left y axis
			title: {
				text: "Miles"
			}
		}],

		legend: {
			align: 'left',
			verticalAlign: 'top',
			y: 20,
			floating: true,
			borderWidth: 0
		},

		tooltip: {
			shared: true,
			crosshairs: true
		},

		series: [{
			id: 'distance',
			name: 'Distance'
		}]
	};


	$.ajax({
        url: 'workouts/by_date_range.json',
        dataType: 'json',
        success: function(data) {
			
			jsonData = data;
			//options.series.push(data);
			options.series[0].data = [];

			for (var i=0; i< data.length; i++) {

				options.series[0].data.push(
					[Date.parse(data[i].date), parseFloat(data[i].distance)]
				);
			}


			chart = new Highcharts.Chart(options);
			//chart.get('distance').setData(data, true);
        },
        cache: false
		
	});
	
	$("#graphType").change(
		function() {
			changeType(chart.series, this.value);
		});
		
	$("#metric").change(
		function() {
			
			chart.options.series[0].data = [];
			for (var i=0; i< jsonData.length; i++) {

				chart.options.series[0].data.push(
					[Date.parse(jsonData[i].date), parseFloat(jsonData[i][this.value])]
				);
			}
			
			chart.redraw();
			//changeType(chart.series, $("#metric").val());
		});
});
</script>