</div>
<script type="text/javascript" src="/assets/custom_graph.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/easyAccordion.css" media="screen" />

<div class="clear"></div>
			<div class="grid_16">
				<span id="pastMonthsText">12 months ago to 0 months ago</span>
				<div class="slider" id="pastMonthsSlider"></div>
				<div id="container"></div>
			</div>
			<div class="clear"></div>
			
			
			<div class="clear"></div>
			
			<div class="grid_16 options1">
				<div id="optionsAccordion">
		            <dl>
		                <dt id="accordion-dt1">First Series</dt>
		                <% series = "series1"%><dd id="accordion-dd1"><%= render 'chartoptions' %></dd>
		               	<dt id="accordion-dt2">Second Series</dt>
		                <% series = "series2"%><dd id="accordion-dd2"><%= render 'chartoptions' %></dd>	           
		            </dl>
		        </div>
		    </div>

<div class="clear">

<script type="text/javascript" src="/assets/jquery.easyAccordion.js"></script>

