<h1>Graphs</h1>
<div id="vdot_graph"</div>
<div id="container"></div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript">
var chart;
$(document).ready(function() {

	// define the options
	var options = {

		chart: {
			renderTo: 'container'
		},

		title: {
			text: 'Daily Distance'
		},

		subtitle: {
			text: 'something'
		},

		xAxis: {
			type: 'datetime',
			tickInterval: 7 * 24 * 3600 * 1000, // one week
			tickWidth: 0,
			gridLineWidth: 1,
			labels: {
				align: 'left',
				x: 3,
				y: -3
			}
		},

		yAxis: [{ // left y axis
			title: {
				text: null
			},
			labels: {
				align: 'left',
				x: 3,
				y: 16,
				formatter: function() {
					return Highcharts.numberFormat(this.value, 0);
				}
			},
			showFirstLabel: false
		}, { // right y axis
			linkedTo: 0,
			gridLineWidth: 0,
			opposite: true,
			title: {
				text: null
			},
			labels: {
				align: 'right',
				x: -3,
				y: 16,
				formatter: function() {
					return Highcharts.numberFormat(this.value, 0);
				}
			},
			showFirstLabel: false
		}],

		legend: {
			align: 'left',
			verticalAlign: 'top',
			y: 20,
			floating: true,
			borderWidth: 0
		},

		tooltip: {
			shared: true,
			crosshairs: true
		},

		series: [{
			id: 'distance',
			name: 'Distance'
		}]
	};


	$.ajax({
        url: 'workouts/by_date_range.json',
        dataType: 'json',
        success: function(data) {
			
			//options.series.push(data);
			options.series[0].data = [];

			for (var i=0; i< data.length; i++) {

				options.series[0].data.push(
					[Date.parse(data[i].date), parseFloat(data[i].distance)]
				)
			}


			chart = new Highcharts.Chart(options);
			//chart.get('distance').setData(data, true);
        },
        cache: false
		
	});
});
</script>