</div>

<div class="clear"></div>
			<div class="grid_16">
				<span id="pastMonthsText">12 months ago to 0 months ago</span>
				<div class="slider" id="pastMonthsSlider"></div>
				<div id="container"></div>
			</div>
			<div class="clear"></div>
			
			
			<div class="clear"></div>
			<div class="grid_4">
				
				<div class="box menu">
					<h2>
						<a href="#" id="toggle-list-items">Graph Type</a>
					</h2>
					<div class="block" id="list-items">
						<ul class="menu selectable">
							<li>
								<a class="graphType" id="line" href="#">Line</a>
							</li>
							<li>
								<a class="graphType" id="spline" href="#">Spline</a>
							</li>
							<li>
								<a class="graphType" id="column" href="#">Column</a>
							</li>
							<li>
								<a class="graphType" id="area" href="#">Area</a>
							</li>
							<li>
								<a class="graphType" id="areaspline" href="#">Area Spline</a>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="grid_4">
				
				<div class="box menu">
					<h2>
						<a href="#" id="toggle-activity-items">Activity Type</a>
					</h2>
					<div class="block section-menu" id="activity-items">
						<ul class="section menu">
							<li>
								<a class="menuitem">Running</a>
								<ul class="submenu">
									<li>
										<a>Easy</a>
									</li>
									<li>
										<a>Tempo</a>
									</li>
									<li>
										<a class="active">Long</a>
									</li>
									<li>
										<a>Interval</a>
									</li>
									<li>
										<a>MAF Test</a>
									</li>
									<li>
										<a>Race</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Biking</a>
								<ul class="submenu">
									<li>
										<a>Easy</a>
									</li>
									<li>
										<a>Tempo</a>
									</li>
									<li>
										<a>Long</a>
									</li>
									<li>
										<a>Interval</a>
									</li>
									<li>
										<a>Hill</a>
									</li>
									<li>
										<a>Stationary</a>
									</li>
									<li>
										<a>Race</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Swimming</a>
								<ul class="submenu">
									<li>
										<a>Freestyle</a>
									</li>
									<li>
										<a>Breast Stroke</a>
									</li>
									<li>
										<a>Mixed</a>
									</li>
									<li>
										<a>Race</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="grid_4">
				<div class="box menu">
					<h2>
						<a href="#" id="toggle-data-items">Select Data</a>
					</h2>
					<div class="block section-menu" id="data-items">
						<ul class="section menu">
							<li>
								<a class="menuitem">Workout</a>
								<ul class="submenu">
									<li>
										<a class="metric" id="distance">Distance</a>
									</li>
									<li>
										<a class="metric" id="duration">Duration</a>
									</li>
									<li>
										<a class="metric" id="pace">Pace</a>
									</li>
									<li>
										<a class="metric" id="speed">Speed</a>
									</li>
									<li>
										<a class="metric" id="vdot">VDOT</a>
									</li>
									<li>
										<a class="metric" id="effort">Effort</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Health</a>
								<ul class="submenu">
									<li>
										<a>Weight</a>
									</li>
									<li>
										<a>Resting HR</a>
									</li>
									<li>
										<a class="metric" id="avg_hr">Average HR</a>
									</li>
									<li>
										<a>Max HR</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Conditions</a>
								<ul class="submenu">
									<li>
										<a>Temperature</a>
									</li>
									<li>
										<a>Elevation Change</a>
									</li>
									<li>
										<a>Elevation</a>
									</li>
									<li>
										<a>Weather</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="grid_4">
				<div class="box menu">
					<h2>
						<a href="#" id="toggle-list-items">Group By</a>
					</h2>
					<div class="block" id="list-items">
						<ul class="menu">
							<li>
								<a href="#">Date</a>
							</li>
							<li>
								<a href="#">Week</a>
							</li>
							<li>
								<a href="#">Month</a>
							</li>
							<li>
								<a href="#">Year</a>
							</li>
							<li>
								<a href="#">Day of Week</a>
							</li>
							<li>
								<a href="#">Hour of Day</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
<div class="clear">
