<h1>Users</h1>

<table width="100%">
  <tr>
    <th>email</th>
    <th>charts</th>
    <th>admin</th>
  </tr>



<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><a href="<%= user.id %>/charts">charts</a></td>
    <td><%= user.admin? %></td>
  </tr>
<% end %>
</table>

