<h1>Hello Fellow Runners, Cyclists and Swimmers</h1>

<p>This is the site so far.  Some things you should consider as you check it out.</p>
<p>1. Pretty much ignore the design. I am messing around with colors,layouts, fonts, and everything else
	but it is not going to look like this when it's done.</p>
<p>2. It's only partially functional.  A lot of stuff that is built, is broken or not working 
	like it will eventually work.</p>

<p>Ok there were only two items so I probably didn't need to number them :)</p>